@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  place-items: center;
  place-content: center;
}

.header_app {
  width: inherit;
  width: inherit;
  height: 560px;
  background-image: url('https://i-cdn.embed.ly/1/display?key=5b4f224fb4324b0ea66ced88b214e1aa&url=https%3A%2F%2Fi.imgur.com%2FwrlYuMa.gif%3Fnoredirect');
  background-position: 35% 73%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

.header_input {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  width: 100%;
  padding: 47px;
}

.search {
  display: inherit;
  width: 60%;
}

.header_input input {
  display: flex;
  width: 100%;
  height: 36px;
  font-weight: 600;
  background: #fff;
  color: #1e0024;
  border: none;
  border-bottom: 2px solid #fff;
  outline: 0;
  font-size: 24px;
  border-radius: 3px;
  padding: 24px 15px;
}

.header_input input:focus {
  color: #1e0024;
  border: none;
  border-bottom: 3px solid #F3B254;
  outline: 0;
  font-size: 24px;
}

.header_input button {
  display: flex;
  width: 60px;
  height: 60px;
  /* border-top-right-radius: 9px;
  border-bottom-right-radius: 9px; */
  border-radius: 9px;
  margin-left: 15px;
  background-color: #1e0024;
  border-style: none;
}

.characters h1 {
  text-align: center;
  margin: 60px;
}

.resident-random {
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color:#1e0024;
}

.resident-random h3 {
  font-size: 21px;
}

.resident-random p {
  font-size: 14px;
  margin-top: 15px;
}

.residents {
  display: grid;
  align-items: stretch;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 90px;
}

.dead-alive p {
  text-align: center;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.residents-cards {
  max-width: min-content;
  border-radius: 9px;
  background-color: #1e0024;
  margin: 15px;
}

.residents-info {
  /* max-width: fit-content; */
  padding: 15px 24px 24px 24px;
}

.residents-info h2 {
  text-align: center;
  border-bottom: 2.5px solid #492E51;
  padding-bottom: 9px;
  margin-bottom: 15px;
}

.residents-info h3 {
  font-size: 12px;
  color: #a8a8a8;
}

.residents-info h3 p {
  font-size: 18px;
  margin-left: 9px;
  color: #fff;
}
